
[Unit]
Description=Forward TCP $PORT to remote

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd $REMOTE

[Install]
WantedBy=multi-user.target
