
[Unit]
Description=GitLab container
After=local-fs.target firewalld.service

[Container]
ContainerName=GitLab
Image=docker.io/gitlab/gitlab-ce:latest
PublishPort=127.0.0.1:18100:80
PublishPort=0.0.0.0:22:22
Volume=/var/lib/gitlab/config:/etc/gitlab:Z
Volume=/var/lib/gitlab/logs:/var/log/gitlab:Z
Volume=/var/lib/gitlab/data:/var/opt/gitlab:Z
Volume=/var/lib/gitlab/backups:/var/opt/gitlab/backups:Z
ShmSize=256M
LogDriver=journald
AutoUpdate=registry

[Service]
TimeoutStartSec=20min
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
