[Unit]
Description=vaultwarden container
After=local-fs.target

[Container]
ContainerName=Vaultwarden
Image=ghcr.io/dani-garcia/vaultwarden:latest
Exec=/start.sh
EnvironmentFile=/var/lib/vaultwarden/.config/containers/systemd/Vaultwarden.env
Network=pasta:--map-host-loopback=10.0.2.2
AddHost=host.loopback.internal:10.0.2.2
PublishPort=0.0.0.0:18000:8000
UserNS=keep-id:uid=1000,gid=1000
Volume=/var/lib/vaultwarden/data/:/data/:Z
LogDriver=journald
AutoUpdate=registry

[Service]
TimeoutStartSec=6min
Restart=on-failure
RestartSteps=10
RestartMaxDelaySec=30m

[Install]
WantedBy=multi-user.target default.target
