

[Unit]
Description=Matrix (Synapse) container
After=local-fs.target

[Container]
ContainerName=Synapse
Image=docker.io/matrixdotorg/synapse:latest
EnvironmentFile=/var/lib/matrix/.config/containers/systemd/Matrix.env
Network=slirp4netns:allow_host_loopback=true
PublishPort=127.0.0.1:8008:8008
UserNS=keep-id:uid=991,gid=991
Volume=/var/lib/matrix/data:/data
LogDriver=journald
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
