
[Unit]
Description=Lobsters tasks container
After=local-fs.target

[Container]
ContainerName=LobstersTasks
Image=ConfigLM.moe/lobsters:master
EnvironmentFile=/var/lib/lobsters/.config/containers/systemd/Lobsters.env
Network=slirp4netns:allow_host_loopback=true
UserNS=keep-id:uid=1000,gid=1000
Exec=cron
Volume=/var/lib/lobsters/config:/config:z
Volume=/var/lib/lobsters/logs:/srv/lobste.rs/log:z
Volume=/var/lib/lobsters/cache:/srv/lobste.rs/cache:z
Volume=/var/lib/lobsters/storage:/srv/lobste.rs/storage:z
Volume=/var/lib/lobsters/queue:/srv/lobste.rs/queue:z
Volume=/var/lib/lobsters/tmp:/lobsters/tmp:z
Volume=/srv/lobsters:/srv/lobsters:z
LogDriver=journald

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
