
[Unit]
Description=Authentik Worker container
After=local-fs.target

[Container]
ContainerName=Authentik-Worker
Image=ghcr.io/goauthentik/server:2025.2
Exec=worker
EnvironmentFile=/var/lib/authentik/.config/containers/systemd/Authentik.env
Network=slirp4netns:allow_host_loopback=true
UserNS=keep-id:uid=1000,gid=1000
Volume=/var/lib/authentik/media:/media:z
Volume=/var/lib/authentik/templates:/templates:z
Volume=/var/lib/authentik/certs:/certs:Z
LogDriver=journald
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
