
[Unit]
Description=Authentik Server container
After=local-fs.target

[Container]
ContainerName=Authentik-Server
Image=ghcr.io/goauthentik/server:2025.2
Exec=server
EnvironmentFile=/var/lib/authentik/.config/containers/systemd/Authentik.env
Network=slirp4netns:allow_host_loopback=true
PublishPort=127.0.0.1:19000:9000
PublishPort=127.0.0.1:19300:9300
UserNS=keep-id:uid=1000,gid=1000
Volume=/var/lib/authentik/media:/media:z
Volume=/var/lib/authentik/templates:/templates:z
LogDriver=journald
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
