
[Unit]
Description=ERPNext Websocket container
After=local-fs.target

[Container]
ContainerName=ERPNext-Websocket
Image=ConfigLM.moe/erpnext:v$VERSION
Exec=node /home/frappe/frappe-bench/apps/frappe/socketio.js
EnvironmentFile=/var/lib/erpnext/.config/containers/systemd/ERPNext.env
Network=ERPNext.network
IP=10.90.50.11
HostName=ERPNext-Websocket
UserNS=keep-id:uid=1000,gid=1000
Volume=/var/lib/erpnext/sites:/home/frappe/frappe-bench/sites:z
Volume=/var/lib/erpnext/logs:/home/frappe/frappe-bench/logs:z
Volume=/var/lib/erpnext/config:/home/frappe/frappe-bench/config:z
LogDriver=journald

[Service]
TimeoutStartSec=16min
TimeoutStopSec=1min
Restart=on-failure
RestartSteps=10
RestartMaxDelaySec=30m

[Install]
WantedBy=multi-user.target default.target
