
[Unit]
Description=ERPNext Frontend container
After=local-fs.target

[Container]
ContainerName=ERPNext-Frontend
Image=ConfigLM.moe/erpnext:v$VERSION
Exec=nginx-entrypoint.sh
EnvironmentFile=/var/lib/erpnext/.config/containers/systemd/ERPNext.env
PublishPort=127.0.0.1:18400:8080
Network=ERPNext
HostName=ERPNext-Frontend
UserNS=keep-id:uid=1000,gid=1000
Volume=/var/lib/erpnext/sites:/home/frappe/frappe-bench/sites
Volume=/var/lib/erpnext/logs:/home/frappe/frappe-bench/logs

[Install]
WantedBy=multi-user.target default.target
