
[Unit]
Description=ERPNext container
After=local-fs.target

[Container]
ContainerName=ERPNext
Image=ConfigLM.moe/erpnext:v$VERSION
EnvironmentFile=/var/lib/erpnext/.config/containers/systemd/ERPNext.env
Network=ERPNext
IP=10.90.50.10
HostName=ERPNext
UserNS=keep-id:uid=1000,gid=1000
Volume=/var/lib/erpnext/sites:/home/frappe/frappe-bench/sites
Volume=/var/lib/erpnext/logs:/home/frappe/frappe-bench/logs

[Install]
WantedBy=multi-user.target default.target
