
[Unit]
Description=OpenVidu container
After=local-fs.target

[Container]
Image=docker.io/openvidu/openvidu-server:main
Exec=--config /etc/livekit.yaml --bind=$BindIP
EnvironmentFile=/var/lib/openvidu/.config/containers/systemd/OpenVidu.env
Network=host
UserNS=keep-id:uid=1000,gid=1000
Volume=/var/lib/openvidu/livekit.yaml:/etc/livekit.yaml
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
