

[Unit]
Description=OpenVidu Call container
After=local-fs.target

[Container]
Image=docker.io/openvidu/openvidu-call:main
EnvironmentFile=/var/lib/openvidu/.config/containers/systemd/OpenVidu.env
PublishPort=127.0.0.1:6080:6080
UserNS=keep-id:uid=1000,gid=1000
AutoUpdate=registry

[Install]
WantedBy=multi-user.target default.target
